# Backend
MONGODB_URI=mongodb+srv://raflinurikhwana_db_user:iPLz8CnqTWFgjWUO@cluster0.0whyie2.mongodb.net/laporan_magang?appName=Cluster0
CLOUDINARY_CLOUD_NAME=qspbowpz
CLOUDINARY_API_KEY=815777872718865
CLOUDINARY_API_SECRET=ZULWVvEwNRiLBBdZ45yzL1GY4N0
